body {
    margin: 0;
    text-align: center;
  }

  section {
    margin-bottom: 20px;
  }
  
  span.color {
    display: inline-block;
    height: 40px;
    width: 40px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
    margin: 0 6px;
  }
  

  section#pixel-board {
    display: inline-block;
    width: 210px;
    line-height: 0;
  }
  
  span.pixel {
    display: inline-block;
    height: 40px;
    width: 40px;
    border: 1px solid black;
    background-color: white;
    margin: -0.5px;
  }